In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('lemonade.csv')

# Acquiring Data:

In [8]:
df.sample(3)

        Date       Day  Temperature  Rainfall  Flyers  Price  Sales
208  7/28/17    Friday         87.4      0.51      58    0.5     38
39    2/9/17  Thursday         42.7      1.00      39    0.5     19
72   3/14/17   Tuesday         58.9      0.87      35    0.5     23

# Exercises:

#### Define a function named get_lower_and_upper_bounds that has two arguments. The first argument is a pandas Series. The second argument is the multiplier, which should have a default argument of 1.5.

In [ ]:
def get_lower_and_upper_bounds(s: )

## 1. Using lemonade.csv dataset and focusing on continuous variables:

#### a. Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense? Which outliers should be kept?